@model IEnumerable<pitch_app.Models.AtBat>

<h3>AtBats</h3>
<ul>
    @foreach (var atbat in Model)
    {
        <div class="clickable-ab" data-pitcher= @atbat.Pitcher.PitcherId data-batter= @atbat.Batter.BatterId > 
            <li>@atbat.Pitcher.Name vs. @atbat.Batter.Name</li>
        </div>
    }
</ul>