@model IEnumerable<pitch_app.Models.AtBat>

<div class="section-title">
    <h5>AtBats</h5>    
</div>
<div class="ab-list">
    @foreach (var atbat in Model)
    {
        <div class="clickable-ab" data-pitcher= @atbat.Pitcher.PitcherId data-batter= @atbat.Batter.BatterId > 
            @atbat.Batter.Name vs. @atbat.Pitcher.Name
        </div>
    }
</div>