@model IEnumerable<pitch_app.Models.Pitch>

<div class="section-title">
    @(@Model.Any() ? @Model.Last().play_by_play : "Select an Inning or At Bat" ) 
</div>
<div class="pitch-list">
    @foreach (var pitch in Model)
    { 
        @Html.Partial("_PitchCard", pitch)   
    }
</div>