@model IEnumerable<pitch_app.Models.Pitch>

<div class="section-title">
    <h5>Play BY Play goes here ... </h5>    
</div>
<div class="pitch-list">
    @foreach (var pitch in Model)
    { 
        @Html.Partial("_PitchCard", pitch)   
    }
</div>