* {
  box-sizing: border-box;
}

div.page-container {
  display: flex;
  flex-direction: column; 
}

div.page-container .app-title{
  margin: 0.75em auto;
}

/*----------------------------------------*/
/*-----------------HEADER-----------------*/
/*----------------------------------------*/
header.header {
  display: flex;
  flex-direction: column; 
  background-color: navy;
  color: white; 
}

header.header div.inning {
  display: flex;
  flex: 1; 
  align-items: center; 
  justify-content: center;
}

header.header div.inning .input-field {
    width: 80%;
}

input.select-dropdown {
  text-align: center; 
}

ul.dropdown-content.select-dropdown li span {
    color: navy;
    text-align: center;

}


header.header div.pitcher-stats {
  display: flex; 
  flex: 2; 
  align-items: center; 
  justify-content: center;
  background-color: gray; 
  min-height: 300px; 
}

header.header div.pitcher-stats #velocity-graph {
  display: flex;
  align-items: center; 
  justify-content: center; 
  font-size: 1.25em; 
  width: 80%; 
  height: 80%; 
}
/*----------------------------------------*/
/*----------------MAIN--------------------*/
/*----------------------------------------*/
main.game-stats {
  display: flex;
  flex-direction: column;  
}

/*------------------AT-BATS---------------*/

main.game-stats section.at-bats {
  display: flex;
  flex-direction: column; 
  flex: 1;
  border-right: 1px solid grey; 
}

 div.section-title {
  display: flex;
  align-items: center; 
  justify-content: center;
  min-height:4em;
  background-color: orange; 
}

main.game-stats section.at-bats div.ab-list {
  display: flex;
}

main.game-stats section.at-bats div.ab-list div.clickable-ab {
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  margin: 1px;
  height: 5em;  
  border: 1px solid lightgray;
  margin: 0; 
} 

main.game-stats section.at-bats div.ab-list div.clickable-ab:hover {
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.ab-active{
  background-color: lightgray;
}
/*------------------PITCHES---------------*/
main.game-stats section.pitches {
  display: flex;
  flex-direction: column; 
  flex: 2; 
}

main.game-stats section.pitches .pitch{
  margin-bottom: 2em; 
}

main.game-stats section.pitches .pitch-title{
  font-size: 1.5em; 
}

main.game-stats section.pitches .pitch-list {
  display: flex; 
  flex-direction: column;
  justify-content: center;  
  
}

/*--Pitch-Card-*/
div.pitch {
  display: flex;
  flex-direction: column;
  margin: 0 auto;  
  width: 80%; 
}

div.pitch-title{
  text-align: center; 
}

div.pitch div.pitch-card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}

div.pitch div.pitch-card:hover {
  -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.4);
}

div.pitch div.pitch-card div.pitch-ab-info {
  display: flex;
  align-content: flex-start;
  justify-content: space-around; 
  padding: 1em; 
  background-color: navy; 
  color: white; 
}

div.pitch div.pitch-card div.pitch-result{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  font-size: 1.5em; 
  height: 4em; 
}

div.pitch div.pitch-card div.pitch-type{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: navy;
  color: white; 
  padding: 1em; 
}

div.pitch div.pitch-card div.pitch-speed {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  font-size: 1.5em;  
  height: 4em; 
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-title {
  display: flex;
  justify-content: center; 
  padding: 0.5.em; 
  background-color: orange; 
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info {
  display: flex;
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info .game-pitch-count{
  flex: 1; 
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info .game-pitch-count .game-pitch-count-title {
  text-align: center;
  /*padding: 0.25em; */
  flex: 1;
  background-color: navy;
  color: white; 
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info .game-pitch-count .game-pitch-count-value {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 4em; 
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info .player-pitch-count{
  flex: 1; 
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info .player-pitch-count .player-pitch-count-title {
  text-align: center;
  /*padding: 0.25em; */
  flex: 1;
  background-color: navy; 
  color: white; 
  border-left: 1px solid grey; 
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info .player-pitch-count .player-pitch-count-value {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 4em; 
  border-left: 1px solid black; 
}


/*----------------------------------------*/
/*-----------------MEDIA-Q-----------------*/
/*----------------------------------------*/

@media only screen and (min-width : 768px) {

div.page-container .app-title{
  margin: .75em 2em ;
}
    /*-----------------HEADER-----------------*/
header.header {
  display: flex; 
  flex-direction: row;
}
  
header.header div.inning {
  display: flex;
  flex: 1; 
  align-items: center; 
  justify-content: center;
}

header.header div.pitcher-stats {
  min-height: 300px; 
}

header.header div.pitcher-stats #velocity-graph {
  width: 50%; 
  height: 80%; 
}
  /*--------MAIN ARTICLE SECTION-----------*/
 main.game-stats {
  display: flex;
  flex-direction: row; 
}
  

main.game-stats section.pitches {
  display: flex;
  flex-direction: column; 
  flex: 2;
}
  /* AT BATS */

main.game-stats section.at-bats div.ab-list {
  display: flex;
  flex-direction: column;
}

/* PITCHES */
main.game-stats section.pitches .pitch-list {
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  margin: 2em; 
  flex-wrap: wrap; 
}

div.pitch { 
  width: 200px;  
}
  /*-------------EVENTS SECTION-------------*
    /* no changes */
  /*-----------------FOOTER-----------------*/
  /* no changes */
}