* {
  box-sizing: border-box;
}

div.page-container {
  display: flex;
  flex-direction: column; 
}

/*----------------------------------------*/
/*-----------------HEADER-----------------*/
/*----------------------------------------*/
header.header {
  display: flex;
  flex-direction: column; 
  background-color: navy;
  color: white; 
}

header.header div.inning {
  display: flex;
  flex: 1; 
  align-items: center; 
  justify-content: center;
}

header.header div.inning .input-field {
    width: 80%;
}

ul.dropdown-content.select-dropdown li span {
    color: navy;
    text-align: center;

}


header.header div.pitcher-stats {
  display: flex; 
  flex: 2; 
  align-items: center; 
  justify-content: center;
  background-color: gray; 
  height: 200px; 
}

/*----------------------------------------*/
/*----------------MAIN--------------------*/
/*----------------------------------------*/
main.game-stats {
  display: flex;
  flex-direction: column;  
}

/*------------------AT-BATS---------------*/

main.game-stats section.at-bats {
  display: flex;
  flex-direction: column; 
  flex: 1;
  border-right: 1px solid lightgrey; 
}

 div.section-title {
  display: flex;
  align-items: center; 
  justify-content: center;
  min-height:4em;
  background-color: orange; 
}

main.game-stats section.at-bats div.ab-list {
  display: flex;
}

main.game-stats section.at-bats div.ab-list div.clickable-ab {
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  margin: 1px;
  height: 5em;  
  border: 1px solid lightgray;
  margin: 0; 
} 

main.game-stats section.at-bats div.ab-list div.clickable-ab:hover {
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.ab-active{
  background-color: lightgray;
}
/*------------------PITCHES---------------*/
main.game-stats section.pitches {
  display: flex;
  flex-direction: column; 
  flex: 2; 
}

main.game-stats section.pitches .pitch-list {
  display: flex; 
  flex-direction: column;
  justify-content: center;  
  
}

/*--Pitch-Card-*/
div.pitch {
  display: flex;
  flex-direction: column;
  margin: 0 auto;  
  width: 80%; 
}

div.pitch-title{
  text-align: center; 
}

div.pitch div.pitch-card {
  display: flex;
  flex-direction: column;
  background-color: green;
}

div.pitch div.pitch-card div.pitch-ab-info {
  display: flex;
  align-content: flex-start; 
  padding: 1em; 
  background-color: red; 
}

div.pitch div.pitch-card div.pitch-result{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: blue; 
  height: 5em; 
}

div.pitch div.pitch-card div.pitch-type{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: yellow;
  padding: 1em; 
}

div.pitch div.pitch-card div.pitch-speed {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: orange; 
  height: 5em; 
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-title {
  display: flex;
  justify-content: center; 
  padding: 1em; 
  background-color: red; 
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info {
  display: flex;
  background-color: blue; 
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info .game-pitch-count{
  background-color: green;
  flex: 1; 
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info .game-pitch-count .game-pitch-count-title {
  text-align: center;
  /*padding: 0.25em; */
  flex: 1;
  background-color: blue;
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info .game-pitch-count .game-pitch-count-value {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex: 1;
  /*height: 5em; */
  background-color: lightblue;
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info .player-pitch-count{
  flex: 1; 
  background-color: gray; 
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info .player-pitch-count .player-pitch-count-title {
  text-align: center;
  /*padding: 0.25em; */
  flex: 1;
  background-color: yellow;
}

div.pitch div.pitch-card div.pitch-count div.pitch-count-info .player-pitch-count .player-pitch-count-value {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex: 1;
  /*height: 5em; */
  background-color: orange;
}


/*----------------------------------------*/
/*-----------------MEDIA-Q-----------------*/
/*----------------------------------------*/

@media only screen and (min-width : 768px) {
    /*-----------------HEADER-----------------*/
header.header {
  display: flex; 
  flex-direction: row;
}
  
header.header div.inning {
  display: flex;
  flex: 1; 
  align-items: center; 
  justify-content: center;
}
  /*--------MAIN ARTICLE SECTION-----------*/
 main.game-stats {
  display: flex;
  flex-direction: row; 
}
  

main.game-stats section.pitches {
  display: flex;
  flex-direction: column; 
  flex: 2;
}
  /* AT BATS */

main.game-stats section.at-bats div.ab-list {
  display: flex;
  flex-direction: column;
}

/* PITCHES */
main.game-stats section.pitches .pitch-list {
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  margin: 2em; 
  flex-wrap: wrap; 
}

div.pitch {
  margin: 2em;  
  width: 200px;  
}
  /*-------------EVENTS SECTION-------------*
    /* no changes */
  /*-----------------FOOTER-----------------*/
  /* no changes */
}