* {
  box-sizing: border-box;
}

div.page-container {
  display: flex;
  flex-direction: column; 
}

/*----------------------------------------*/
/*-----------------HEADER-----------------*/
/*----------------------------------------*/
header.header {
  display: flex;
  flex-direction: column; 
  background-color: navy;
  color: white; 
}

header.header div.inning {
  display: flex;
  flex: 1; 
  align-items: center; 
  justify-content: center;
}

header.header div.inning .input-field {
    width: 80%;
}

ul.dropdown-content.select-dropdown li span {
    color: navy;
    text-align: center;

}


header.header div.pitcher-stats {
  display: flex; 
  flex: 2; 
  align-items: center; 
  justify-content: center;
  background-color: gray; 
  height: 200px; 
}

/*----------------------------------------*/
/*----------------MAIN--------------------*/
/*----------------------------------------*/
main.game-stats {
  display: flex;
  flex-direction: column; 
  height: 500px; 
}

/*------------------AT-BATS---------------*/

main.game-stats section.at-bats {
  display: flex;
  flex-direction: column; 
  flex: 1;
}

main.game-stats section.at-bats div.section-title {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding-top: 1em;
  padding-bottom : 1em;
  background-color: red; 
}

main.game-stats section.at-bats div.ab-list {
  display: flex;
}

main.game-stats section.at-bats div.ab-list div.clickable-ab {
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  margin: 1px;
  height: 5em;  
  border: 1px solid lightgray;
  margin: 0; 
} 

main.game-stats section.at-bats div.ab-list div.clickable-ab:hover {
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.ab-active{
  background-color: lightgray;
}
/*------------------PITCHES---------------*/
main.game-stats section.pitches {
  flex: 2; 
  background-color: orange;
}
/*----------------------------------------*/
/*-------------EVENTS SECTION-------------*/
/*----------------------------------------*/

/*----------------------------------------*/
/*-----------------FOOTER-----------------*/
/*----------------------------------------*/


@media only screen and (min-width : 1200px) {
  /*-----------------HEADER-----------------*/

  /*-----------------TITLE------------------*/
  /* no changes */
  /*--------MAIN ARTICLE SECTION-----------*/
  /* no changes */
  /*-------------EVENTS SECTION-------------*
    /* no changes */
  /*-----------------FOOTER-----------------*/
  /* no changes */
}

@media only screen and (min-width : 768px) {
    /*-----------------HEADER-----------------*/
header.header {
  display: flex; 
  flex-direction: row;
}
  
header.header div.inning {
  display: flex;
  flex: 1; 
  align-items: center; 
  justify-content: center;
}
  /*--------MAIN ARTICLE SECTION-----------*/
 main.game-stats {
  display: flex;
  flex-direction: row; 
  height: 500px; 
}
  

main.game-stats section.pitches {
  display: flex;
  flex-direction: row; 
  flex: 2;
}
  /* AT BATS */

main.game-stats section.at-bats div.ab-list {
  display: flex;
  flex-direction: column;
}
  /*-------------EVENTS SECTION-------------*
    /* no changes */
  /*-----------------FOOTER-----------------*/
  /* no changes */
}