@model pitch_app.Models.Inning
@inject pitch_app.Models.Services.InningDropdown inningList 

@{
    ViewData["Title"] = "Index";
}
<div class="page-container">
    
    <h4>Pitch View</h4>
    <header class="header">
        <div class="inning">
            <div class="input-field navy">
                @Html.DropDownListFor(m => m.Number,
                        inningList.GetInnings().Select(i => 
                                new SelectListItem() { Text = i.FormatName(), Value = i.FormatValue()}))
            </div>
        </div>

        <div class="pitcher-stats">
            <div id="container" style="width:55%; height:80%;"></div>
        </div>
    </header>
    <main class="game-stats">

        <section class="at-bats" id="ab-vc">
            @await Component.InvokeAsync("AtBatList", new { inning_num = 1, top = true })
        </section>

        <section class="pitches" id="pitch-vc">
                @await Component.InvokeAsync("PitchList", new { inning_num = 1, top = true, pitcher_id = Model.AtBats[0].Pitcher.PitcherId, batter_id= Model.AtBats[0].Batter.BatterId })
        </section>
    </main>

    
</div>