@model pitch_app.Models.Inning
@inject pitch_app.Models.Services.InningDropdown inningList 

@{
    ViewData["Title"] = "Index";
}
    
<h2>Pitch View</h2>
<div class="input-field col s6 navy">
    @Html.DropDownListFor(m => m.Number,
            inningList.GetInnings().Select(i => 
                    new SelectListItem() { Text = i.FormatName(), Value = i.FormatValue()}))
</div>
<div id="ab-vc">
    @await Component.InvokeAsync("AtBatList", new { inning_num = 1, top = true })
</div>

<div id="pitch-vc">
        @await Component.InvokeAsync("PitchList", new { inning_num = 1, top = true, pitcher_id = Model.AtBats[0].Pitcher.PitcherId, batter_id= Model.AtBats[0].Batter.BatterId })
</div>